name: Run linter
on: pull_request
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: use node.js v20.x
        uses: actions/setup-node@v1
        with:
          node-version: 20.x
      - run: node --version
      - run: npm ci --no-optional
      - run: npx tsc --version
      - run: npm run lint
  lint-unused-code: # look for unused functions and unused exports
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: use node.js v20.x
        uses: actions/setup-node@v1
        with:
          node-version: 20.x
      - run: npm ci --no-optional
      - run: npm run prune
